* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-image: url(./Underwater\ 2.png);
  background-size: cover;
  overflow: hidden;
}

#gameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bubble {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}


.obstacle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  background-color: red; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}


#scoreBoard {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  padding: 25px 40px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#restartBtn {
  position: absolute;
  top: 6%;
  left: 6%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

#restartBtn:hover {
  transform: scale(1.1);
}

.bonus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  box-shadow: 0 0 10px 3px #FFD700;
}
